.mainForm{ margin-top:4%; box-shadow: 10px 10px 44px #888888; border-style:hidden;border-color:#888888}
.mainRow{color:white;text-align:center;background-color:#26a69a}
.bgColor{
    background-color:#0F3C6D!important;
}